<!DOCTYPE html>
<html lang="en" class="h-full">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tailwind</title>
    <link rel="stylesheet" href="./../../public/styles/output.css">
</head>
<body class="h-full">
    <nav class="bg-[#3C3C3C] h-1/6 rounded-b-[4rem] flex">
        <h1 class="text-king_white text-4xl h-full flex items-center ml-60">
          Chatrooms
        </h1>
        <p class="text-king_white text-xl just h-full flex items-center">#username</p>
    </nav>
    <main class="flex justify-center items-center h-2/3">
        
    </main>
    <footer class="bg-[#3C3C3C] h-1/6 rounded-t-[4rem] items-end">
        <h1 class="text-king_white text-4xl h-full flex items-center ml-60">
            Footer  
        </h1>
    </footer>
</body>
</html>