<!DOCTYPE html>
<html lang="en" class="h-full">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tailwind</title>
    <link rel="stylesheet" href="./../../public/styles/output.css">
</head>
<body class="h-full">
    <nav class="bg-[#3C3C3C] h-1/6 rounded-b-[4rem]">
        <h1 class="text-king_white text-4xl h-full flex items-center ml-60">
          Enter chatbox  
        </h1>
    </nav>
    <main class="flex justify-center items-center h-2/3">
        <div class="bg-[#3C3C3C] flex w-64 h-12 items-center justify-center p-1 rounded-full">
            <input placeholder="username" class="bg-[#3C3C3C] w-48 text-text_grey">
            <div class="bg-[#007EF4] h-10 w-10 rounded-full flex justify-center items-center mx-1">
               <img src="./assets/login.png" class="flex justify-end h-6 w-8"> 
            </div>
        </div>
        <div class="ml-36 text-2xl text-[#606060]">
            Here’s some information about this chat. <br>
            Could be anything actually. Like, it’s soo <br>
            cool! Oh my god, it’s amazing! Nothing <br>
            beats this chat. Like, you can talk and <br>
            other people talk back at ya! 
        </div>
    </main>
    <footer class="bg-[#3C3C3C] h-1/6 rounded-t-[4rem] items-end">
        <h1 class="text-king_white text-4xl h-full flex items-center ml-60">
            Footer  
        </h1>
    </footer>
</body>
</html>